  .navbar {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
 
  .nav-link,
  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
 }
 