/* Fix for navbar height and spacing */
.navbar-tight {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

.navbar-tight .navbar-brand {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

.navbar-tight .nav-link {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}